[submodule "include/libasm_zOs"]
	path = include/libasm_zOs
	url = https://github.com/mmmharius/libasm_zOs.git
[submodule "include/printk_zOs"]
	path = include/printk_zOs
	url = https://github.com/mmmharius/printk_zOs.git
